/* .nav_bar{
    background: white;
    box-shadow: 0px 11px 13px -12px rgba(30, 30, 60, 0.07);
    transition: all 0.2s;
}
.nav_bar a{
    text-decoration: none;
}
.nav_bar_logo img{
    display: none;
}
.nav_bar_closed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar_content ul{
    list-style-type: none;
    text-align: justify;
}
.nav_bar_content li{
    font-size: 15px;
    font-weight: 500;
    color: #903570;
    margin-top: 5px;
    cursor: pointer;
}
.nav_bar_content li:active{
    color: #c4426e;
}
.hambur_nav_bar{
    margin: 0;
}
#li_genres{
    display: flex;
}
#li_genres svg{
    width: 20px;
    margin-left: 10px;
    transition: all 0.2s;
}

@media (min-width: 992px) {
    .nav_bar{
        height: 60px !important;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .hambur_nav_bar{
        display: none;
    }
    .nav_bar_content{
        display: flex !important;
    }
    .nav_bar_content ul{
        display: flex;
    }
    .nav_bar_content li{
        margin-right: 20px;
    }
    .list_genres li{
        color: white;
    }
    
} */